html {
    background: white; 

    * {
        box-sizing: border-box; } }

body {
    font-family:"Archivo", Arial, Helvetica, sans-serif; 
    margin: 0px;}

button {
    font-family: "Martian Mono";
    text-transform: uppercase; }
   
h3, p {
    margin: 0; }    

a {
    text-decoration: none; }

header {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    gap: 16px;
    margin: 16px;
    padding-top: 16px;

    #menubalk {
        color: white;
        background: none;
        border: none; }

    a, #word-lid { 
        display:none ; } }

#word-lid {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    height: 52px;
    width: 248px ;
    gap: 12px;
    background-color: white;
    border: 10% solid black; }

.black-box {
    border-top: 1px solid black;
    border-width: auto; }   
    
#terug-home {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Martian Mono";
    text-transform: uppercase;
    font-size: 14px;
    gap: 8px;
    color: black;
    padding-top: 64px; }

.over-ons {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; 
    padding-bottom: 64px;
    padding-left:16px ;}

h1 {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 16px;
    line-height: 100%;
    letter-spacing: -4%; }

#text1 {
    font-size: 18px; }    


.video-button {
    position: relative;
    width: fit-content; }

#video {
    display: flex;
    justify-content: center;
    align-items: center;}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}
    
#bekijk-video {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    height: 52px;
    width: 248px ;
    gap: 12px;
    background-color: white;
    border: 10% solid black; }
   
#text2 {
    font-family: "Martian Mono" ;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 16px; 
    padding-top: 16px;}


.informatie {
    padding-left: 16px;

   h2 { 
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 62px;
    padding-top: 92px;
    padding: 16px; } 

    p {
        padding-right: 16px; } }


.button-leden {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 68px; }

#bekijk-leden {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 40px;
    width: 208px ;
    gap: 12px;
    background-color: white;
    border: 10% solid black; }    


.logoscroller {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    img {
        width: 120px;
        height: 120px; }}

.logoscroller2 {
    display: flex;
    flex-direction: row; 
    overflow: hidden;

    img {
        width: 120px;
        height: 120px; }}


.ons-team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 96px;
    padding-bottom: 96px;
    width: 328px;
    padding-left: 16px; }

#organisatie-kop {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Martian Mono" ;
    font-size: 12px;
    text-transform: uppercase;
    border: solid 1px;
    width: 100px; }    

#ons-team-kop {
    font-size: 40px;
    text-transform: uppercase; }   
 
#tekst5 {
    font-size: 18px;
    font-weight: 500; }    


.medewerkers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    article {
        display: flex;
        flex-direction: column;
        height: 560px;
        width: 100%; 
        padding: 24px; }

    article > img {
        align-self: center;
        object-fit: cover; 
        object-position: top;
        outline: 1px solid black;
        outline-offset: -1px; } }

.naam-medewerker {
    font-family:"Archivo";
    font-size: 24px;
    font-weight: 400;
    padding-top: 24px; }     

.infopersoon {
    font-family: "Martian Mono";
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 16px; 
    padding-bottom: 64px; }

.links-personen {

    font-family: "Martian Mono";
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    gap: 16px;
    padding-bottom: 24px; }    

.solliciteer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 312px;
   
    h2 {
      font-family: "Archivo";
      font-size: 24px;
      font-weight: 500;
    }
    a {
      display: flex;  
      align-items: center;
      font-family: "Martian Mono";
      font-size: 14px;
      gap: 8px;
      text-transform: uppercase;
      font-weight: bold; } }

.partner {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 48px;
    padding-bottom: 48px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 400;
        height: 40px;
        width: 166px;
        gap: 25px;
        background-color: white;
        border: 10% solid black; }
    
    h2 {
        padding-left: 16px;
        font-size: 24px;
        font-weight: 400;
        padding-bottom: 40px; } }


.partner-logos {
    display: flex;
    align-items: center;
    overflow: hidden; 
    gap: 2px; 
   
    img { 
        width: 120px;
        height: 120px; }}

.logo-inloggen {
    display: flex;
    flex-direction: column;
    height: 240px; 
    padding-left: 16px;}

#logo-dda-footer {
   margin-top: 64px; }    

 #inloggen {
    display: flex;
    align-items: center;
    font-family: "Martian Mono";
    text-transform: uppercase;
    gap:8px;
    font-size: 14px; 
    margin-top: 40px;}
    
.footer-linkjes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Inter";
    font-size: 16px;
    line-height: 24px;
    text-transform: unset;
    text-decoration: underline; 
    text-underline-offset: 4px;
    row-gap: 8px;
    padding-left: 16px; 
    height: 296px; }

.footer-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 232px; 
    font-family: "Inter";
    font-size: 16px;
    line-height: 24px;
    padding-left: 16px;

    a {
        text-decoration: underline; 
        text-underline-offset: 4px; }}

#tekst-naam-dda {
    font-weight: bold; }

#telefoonnummer {
    margin-top: 24px;
    margin-bottom: 8px;

}

.footer-social {
    height:176px; }